---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-diagnostic-*,
  -clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  misc-*,
  -misc-include-cleaner,
  modernize-*,
  -modernize-concat-nested-namespaces,
  performance-*,
  -performance-enum-size,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-casting
HeaderFileExtensions:
  - hpp
ImplementationFileExtensions:
  - cpp
SystemHeaders:    false
WarningsAsErrors: '*'
FormatStyle:      none
User:             user
CheckOptions:
  cppcoreguidelines-narrowing-conversions.WarnWithinTemplateInstantiation: 'true'
  cppcoreguidelines-narrowing-conversions.PedanticMode: 'true'
  bugprone-narrowing-conversions.WarnWithinTemplateInstantiation: 'true'
  bugprone-narrowing-conversions.PedanticMode: 'true'
