---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-diagnostic-*,
  -clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  misc-*,
  modernize-*,
  -modernize-concat-nested-namespaces,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-named-parameter
HeaderFilterRegex: '(include[\/\\]rome([\/\\]detail)?|test[\/\\]delegate.*)[\/\\][a-zA-Z_]+\.hpp$'
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            user
CheckOptions: 
  cppcoreguidelines-narrowing-conversions.WarnWithinTemplateInstantiation: 'true'
  cppcoreguidelines-narrowing-conversions.PedanticMode: 'true'
  bugprone-narrowing-conversions.WarnWithinTemplateInstantiation: 'true'
  bugprone-narrowing-conversions.PedanticMode: 'true'
